<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="user != null">{{ user.username }}'s profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card mode="ios" *ngIf="user != null">
    <ion-card-header>
      <ion-card-subtitle *ngIf="user.country != null">Location: {{ user.country }}</ion-card-subtitle>
      <span *ngIf="user.country == null">No location provided</span>
      <ion-card-title>{{ user.username }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <strong *ngIf="user.bio != null">Info: {{ user.bio }}</strong>
      <span *ngIf="user.bio == null">No information given</span>
      <br>
    </ion-card-content>
    <ion-button fill="clear" color="primary" (click)="viewGithubProfile();">
      <ion-icon name="logo-github"></ion-icon>
      View Github Profile
    </ion-button>
    <ion-button fill="clear" color="primary" *ngIf="auth != null" routerLink="/view-dialog/{{ user.username }}">
      <ion-icon name="create-outline"></ion-icon>
      Start A Dialog
    </ion-button>
  </ion-card>

  <ion-card *ngIf="user != null" mode="ios">
    <ion-card-header>
      <ion-card-subtitle>
        Project submitted by {{ user.username }} ({{ user.submittedProjects.length }})
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <span *ngIf="user != null && user.submittedProjects.length == 0">No projects submitted yet</span>
      <ion-list>
        <ion-item style="color: #388fff;" *ngFor="let project of user.submittedProjects"
          routerLink="/view-project/{{ project }}">
          {{ project }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios">
    <ion-card-header>
      <ion-card-subtitle *ngIf="user != null">
        {{ user.username }}'s skills ({{ user.skillList.length }})
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="user != null && user.skillList.length == 0">No information given</p>
      <ion-list *ngIf="user != null">
        <ion-item *ngFor="let skill of user.skillList">
          <ion-label>{{ skill }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>