<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="name != null">{{ name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="user != null && user.dialogs[name] != undefined">
    <ion-item *ngFor="let message of user.dialogs[name].value" [ngClass]="{'incoming': message.author == name}">
      <ion-label style="white-space: normal;">{{ message.author + ": " + message.content }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-item>
    <ion-input [(ngModel)]="message" placeholder="Message"></ion-input>
    <ion-button slot="end" (click)="sendMessage();">Send</ion-button>
  </ion-item>
</ion-footer>