<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button routerLink="/search">
        <ion-icon slot="start" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title *ngIf="user == null">GitPals</ion-title>
    <ion-title *ngIf="user != null">GitPals <strong>[{{user.username}}]</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p class="ion-text-center"><b>Most recent projects: ({{ projects.length }})</b></p>


  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event);">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let project of projects" mode="ios">
    <ion-card-header>
      <ion-card-subtitle>by {{ project.authorName }}</ion-card-subtitle>
      <ion-card-title>{{ project.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <strong>Techs: {{ project.technologies }}</strong>
      <br>
      <strong>Roles: {{ project.requiredRoles }}</strong>
    </ion-card-content>
  
    <ion-button [routerLink]="'/view-project/' + project.title" shape="round" fill="clear">Explore</ion-button>
  </ion-card>
  


  
</ion-content>