<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="document-text-outline"></ion-icon>
      Forum
    </ion-title>
    <ion-buttons slot="end" *ngIf="user != null">
      <ion-button (click)="openActionSheet();">
        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <p class="ion-text-center" *ngIf="posts != null && posts.length == 0" style="margin-top: 20px;">No posts added yet</p>

  <ion-card *ngFor="let post of posts" mode='ios'>
    <ion-card-header>
      <ion-card-subtitle>By
        <span style="color: #388fff" routerLink="/view-user/{{ post.author }}">{{ post.author }}</span>
      </ion-card-subtitle>
      <ion-card-title>{{ post.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <span>Published on {{ post.timeStamp }}</span>
      <br><br>
      <span>Views: <ion-badge color="primary">{{ post.viewSet.length }}</ion-badge></span>
      <br><br>
      <span>Comments: <ion-badge color="primary">{{ post.comments.length }}</ion-badge></span>
    </ion-card-content>
    <ion-button fill="clear" (click)="openPost(post.key);">Explore</ion-button>
  </ion-card>
</ion-content>