<ion-header *ngIf="post != undefined">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="document-text-outline"></ion-icon>
      {{ post.title }}
    </ion-title>

    <ion-buttons slot="end" *ngIf="user != null && user.username == post.author">
      <ion-button (click)="openPostActionSheet();">
        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refreshForumInfo($event);">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card mode="ios" *ngIf="post != null">
    <ion-card-header>
      <ion-card-subtitle>by <span style="color: #388fff"
          routerLink="/view-user/{{ post.author }}">{{ post.author }}</span></ion-card-subtitle>
      <ion-card-title>{{ post.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Published on {{ post.timeStamp }}</p>
      <span>{{ post.content }}</span>
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios" *ngIf="post != null">
    <ion-card-header>
      <ion-card-subtitle>
        Comments ({{ post.comments.length }})
        <ion-button *ngIf="user != null" size="small" (click)="writeComment();">Add</ion-button>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="post.comments.length == 0">No comments yet</p>
      <ion-card *ngFor="let comment of post.comments" mode='ios'>
        <ion-card-header>
          <ion-item>
            <ion-label style="color: #388fff" routerLink="/view-user/{{ comment.author }}">{{ comment.author }}
            </ion-label>
            <ion-buttons slot="end" *ngIf="post != null && user != null && user.username == comment.author">
              <ion-button (click)="openCommentActionSheet(comment);">
                <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          <ion-badge color="primary" *ngIf="comment.edited">Edited</ion-badge>
          <br>
          <span>{{ comment.text }}</span>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>