<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="project != null">{{ project.title }}</ion-title>

    <ion-buttons slot="end" *ngIf="project != null && user != null && user.username == project.authorName">
      <ion-button (click)="openProjectActionSheet();">
        <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="refreshProjectInfo($event);">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card mode="ios" *ngIf="project != null">
    <ion-card-header>
      <ion-card-subtitle>by <span style="color: #3880ff" routerLink="/view-user/{{ project.authorName }}">{{ project.authorName }}</span></ion-card-subtitle>
      <ion-card-title>{{ project.title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ project.description }}</p>
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios" *ngIf="project != null">
    <ion-card-header>
      <ion-card-subtitle>Technologies ({{ project.technologies.length }})</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let technology of project.technologies">
          <ion-label>
            {{ technology }}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios" *ngIf="project != null">
    <ion-card-header>
      <ion-card-subtitle>Roles wanted ({{ project.requiredRoles.length }})</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let role of project.requiredRoles">
          <ion-label>
            {{ role }}
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios" *ngIf="project != null">
    <ion-card-header>
      <ion-card-subtitle>Participation</ion-card-subtitle>
      <ion-card-subtitle>{{ project.appliedUsers.length }} users submitted</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="user == null">Please sign in to apply to this project</p>
      <ion-button color="success" size="small" *ngIf="user != null && project.appliedUsers.indexOf(user.username) == -1" (click)="apply();">Apply</ion-button>
      <ion-button color="danger" size="small" *ngIf="user != null && project.appliedUsers.indexOf(user.username) != -1" (click)="apply();">Unapply</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios" *ngIf="project != null">
    <ion-card-header>
      <ion-card-subtitle>
        Comments ({{ project.comments.length }})
        <ion-button *ngIf="user != null" size="small" fill="outline" (click)="writeComment()">Add</ion-button>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="project.comments.length == 0">No comments yet</p>
      <ion-card *ngFor="let comment of project.comments" mode='ios'>
        <ion-card-header>
          <ion-item>
            <ion-label>{{ comment.author }}</ion-label>
            <ion-buttons slot="end" *ngIf="project != null && user != null && user.username == comment.author">
              <ion-button (click)="openCommentActionSheet(comment);">
                <ion-icon slot="icon-only" name="ellipsis-horizontal"></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          <ion-badge color="primary" *ngIf="comment.edited">Edited</ion-badge>
          <br>
          <span>{{ comment.text }}</span>
        </ion-card-content>
      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>
