<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="selectMode();">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="search-outline"></ion-icon>
      Search
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">
  <p class="container" *ngIf="activeMode == null">Select what you want to find using a button in a right upper corner</p>

  <div *ngIf="activeMode != null">
    <br>
    <ion-card>
      <ion-card-header>
        <span>{{ activeMode.text }}</span>
      </ion-card-header>
      <ion-card-content>
        <div *ngIf="activeMode == mods[2] || activeMode == mods[3] || activeMode == mods[4]" style="margin-top: 20px;"
          class="ion-text-center">
          <ion-list>
            <ion-item *ngFor="let item of items">
              <ion-label style="font-weight: 600;">{{ item }}</ion-label>
              <ion-button fill="clear" color="danger" (click)="removeItem(item);">
                <ion-icon name="close-circle-outline"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
          <ion-buttons>
            <ion-button (click)="addItem();" style="margin: 0px auto;">Add Item</ion-button>
            <ion-button color="primary" (click)="find();" style="margin: 0px auto;">Find</ion-button>
          </ion-buttons>
        </div>
        <div *ngIf="activeMode != mods[2] && activeMode != mods[3] && activeMode != mods[4]">
          <ion-buttons slot="end">
            <ion-searchbar [(ngModel)]="searchName"></ion-searchbar>
            <ion-button color="primary" (click)="find();">Find</ion-button>
          </ion-buttons>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <ion-card *ngIf="results != null && results.length != 0">
    <ion-card-content>
      <ion-list *ngIf="results != null">
        <p>{{ results.length }} results</p>
        <ion-item *ngFor="let result of results">
          <ion-label (click)="openResult(result);" style="font-weight: 600; color: #388fff;"
            *ngIf="activeMode == mods[0] || activeMode == mods[4]">{{ result.username }}</ion-label>
          <ion-label (click)="openResult(result);" style="font-weight: 600; color: #388fff;"
            *ngIf="activeMode != mods[0] && activeMode != mods[4]">{{ result.title }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>